.todo-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 12px;
}

.todo-item__col {
    display: flex;
    flex: 1;
}

.todo-item__content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.todo-item__checkbox {
    margin-right: 12px;
}

.todo-item__input {
    margin-bottom: 8px;
    border: 1px solid rgba(0,0,0,.06);
    padding: 4px 8px;
}

.todo-item__button {
    margin-left: 12px;
    border: none;
    box-shadow: none;
    padding: 4px;
    font-size: 20px;
}