.heading-wrapper {
    display: inline-flex;
    position: relative;
    margin-bottom: 8px;
}

.heading {
    color: var(--primary-color);
    margin: 0 4px 0 0;
}

.heading_hidden {
    visibility: hidden;
    opacity: 0;
    min-width: 120px;
}

.heading__button {
    border: none;
    box-shadow: none;
    padding: 4px;
    font-size: 18px;
}

.heading__button:disabled {
    background: none;
}

.heading__input {
    position: absolute;
    left: 0;
    right: 36px;
}